<section id="products-section">


<div id="products-grid-container">


    <% products.forEach(product => {   %> 
        
        <div class="products-grid-item encode-sans">
            <code>product by user id : <%= product.user_id %></code>
            <h2><%= product.name %></h2>
            <p><%= product.description %></p>
            <p><%= product.link %></p>
            <% if (product.image_url) { %>
            <img src="data:image/jpeg;base64,<%= product.image_url %>" alt="Product Image" />
              <% } %>
        </div>

     <% }); %> 



</div>

</section>

