<section id="products-section">

<div id="products-grid-container">
<div></div>
<div class="products-grid-item">
    <div><img src="/images/products/test-product-img.webp" alt=""></div>
    <h2><%= products.name %></h2>
    <%= products.description %>
    <%= products.link %>
</div>

<div class="products-grid-item">
    <div><img src="/images/products/test-product-img.webp" alt=""></div>
    <h2><%= products.name %></h2>
    <%= products.description %>
    <%= products.link %>
</div>

<div class="products-grid-item">
    <div><img src="/images/products/test-product-img.webp" alt=""></div>
    <h2><%= products.name %></h2>
    <%= products.description %>
    <%= products.link %>
</div>


<div></div>

<div></div>
<div class="products-grid-item">
    <div><img src="/images/products/test-product-img.webp" alt=""></div>
    <h2><%= products.name %></h2>
    <%= products.description %>
    <%= products.link %>
</div>

<div class="products-grid-item">
    <div><img src="/images/products/test-product-img.webp" alt=""></div>
    <h2><%= products.name %></h2>
    <%= products.description %>
    <%= products.link %>
</div>

<div class="products-grid-item">
    <div><img src="/images/products/test-product-img.webp" alt=""></div>
    <h2><%= products.name %></h2>
    <%= products.description %>
    <%= products.link %>
</div>


<div></div>

<div></div>
<div class="products-grid-item">
    <div><img src="/images/products/test-product-img.webp" alt=""></div>
    <h2><%= products.name %></h2>
    <%= products.description %>
    <%= products.link %>
</div>

<div class="products-grid-item">
    <div><img src="/images/products/test-product-img.webp" alt=""></div>
    <h2><%= products.name %></h2>
    <%= products.description %>
    <%= products.link %>
</div>

<div class="products-grid-item">
    <div><img src="/images/products/test-product-img.webp" alt=""></div>
    <h2><%= products.name %></h2>
    <%= products.description %>
    <%= products.link %>
</div>


<div></div>
</div>

</section>