
<div class="row-flex">

    
    <div id="profil-user-products-card-container">

   

   <% userProducts.forEach(product=>{ %> 

      <div class="profil-user-products-card">  
    <p>product id : <%= product.id %></p>
    <p>product name : <%= product.name %></p>
    <p>product description : <%= product.description %></p>
    <p>product link : <%= product.link %></p>
    <p>product image url : <%= product.image_url %></p>
    </div> 
 <% }); %> 

</div>

<%# product submission form %>

<form action="/submitProduct" method="post" class="custom-form-submission">
    <input type="text" name="userId" value="<%= userId %>" hidden="true">
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="link" name="link">
    <textarea id="" name="description" placeholder="description"></textarea>
    <input type="file" name="imageUrl" id="">

    <input type="submit" value="Submit">

</form>
 

</div>

